@charset "utf-8";

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.clear{
    clear:both;
}
.hidden {
    display:none;
}
.floatLeft{ /* 직전 객체의 오른쪽에 붙기 */
    float:left;
}
.spaceLeft{ /* 왼쪽 띄우기 */
    margin-left:auto;
}
.spaceRight{ /* 오른쪽 띄우기 */
    margin-right:auto;
}

body{ /* 페이지 기본으로 주어진 여백은 없앤다 */
    margin: 0;
    padding: 0;
}
button{ /* 호버된 버튼에 강조 되나? */
    transition-duration: 0.3s;
}
button:hover{ /* 호버된 버튼에 강조. 되지만 모양이 영 좋지 않다 */
    background:#3700B3;
    color:white;
}

.wrapper{ /* 전체 감싸는 레이아웃 */
    margin: 0 auto;
    width: 36em;
}

.headerArea{ /* 헤더 영역 */
    width:100%;
    padding:0.7em;
}

.headerTitle{ /* 헤더 타이틀 영역 */
    font-size: 1.7em;
    font-weight: bold;
}

.headerDesc{
    font-size: 1.1em;
}

.versionNo{ /*버전 번호*/
    text-align: right;
    font-size: 1.0em;
}

.headerDivider{
    margin:1.0em 0;
}

.datesList{ /* 설정된 날짜조건들 목록 */
    list-style: none;
    padding: 0;
    margin: 0;
}

.dateEntry{ /* 설정된 각 날짜조건들 */
    position: relative;
    list-style: none;
    padding: 0.7em;
    margin: 0;
    width:100%;
    background:#00000011
}
.dateEntry:nth-child(even){ /* 설정된 각 날짜조건들 (짝수번째) */
    background:#00000033
}
.entryHover{
    transition-duration: 0.3s;
}
.entryHover:hover{ /* 각 항목 rollOver*/
    background: #BB86FC;
}
.selected_dateEntry{
    background: #BB86FC;
}

.dateNoInternal{ /* 날짜조건의 고유순번 (숨김) */
    display:none;
}

.dateAction{ /* 날짜 조건의 행동 부분(수정/삭제) */
    position: absolute;
    top: 0.7em;
    right: 0.7em;
}

.dateName{ /* 날짜조건의 이름 */
    font-size:1.5em;
}

.dateType{ /* 날짜조건의 형식 (human readable) */
    font-size:1.2em;
}
.dateTypeInternal{ /* 날짜조건의 형식 (real data, 숨김) */
    display:none;
}

.label_year{ /* 날짜조건의 년도 */
    float:left;
    margin-right: 0.3em;
}
.label_month{ /* 날짜조건의 월 */
    float:left;
    margin-right: 0.3em;
}
.label_date{ /* 날짜조건의 일 */
    float:left;
}
.label_date_calc{ /* 날짜조건 (계산됨) */
    font-size:1.3em;
    font-family: monospace;
    opacity: 0.66;
}

.label_tick{ /* 날짜조건의 구분자 (human readable) */
    margin-left: 0.3em;
    margin-right: 0.3em;
    float:left;
}

.inputArea{ /* 입력 구역 */
    margin-top: 1.0em;
    padding: 0.5em;
}
.inputHdTitle{  /* 입력 영역 제목*/
    font-size: 1.7em;
    font-weight: bold;
}
.inputBtns{ /* 추가/수정, 삭제 버튼 */
    text-align:right;
}

.inputUi { /* 입력 영역 */
    padding: 0.5em;
}

.label_input{ /* 입력 영역 레이블 */
    font-size:1.2em;
    margin:0.3em;
    color:#3700B3;
}

.input_common{ /* 입력 영역 텍스트*/
    font-size: 1.1em;
}

.label_desc{ /* 입력 영역 설명 */
    font-size:1.0em;
    margin: 0.5em;
}

.input_area_name{ /* 이름 영역 */
    margin-right: 1.0em;
    margin-bottom: 1.0em;
}
.input_area_type{ /* 형식 영역 */
    margin-left: 1.0em;
    margin-bottom: 1.0em;
}
.input_area_date{ /* 날짜 영역 */
    
    margin-bottom: 1.0em;
}

input[type="number"] { /* 숫자 입력칸의 숫자를 오른쪽 정렬 */
    text-align: right;
}
